.article-page
	&__aside
		width: 330px
		& .last-news .news-card__title
			font-weight: normal
			font-size: 16px
			line-height: 21px
			letter-spacing: -0.05em
		& .last-news__rows .news-card__ph
			height: 80px
			width: 135px
		& .last-news__rows .news-card__col
			flex: auto
			width: 180px
		& .plain-card
			margin-top: 24px
		& .page-about__fix-cont
			&:not(:first-child)
				margin-top: 32px
