.guide-section
	margin-top: 88px
	width: 290px
	margin: 88px auto 0
	@media(min-width:$md)
		width: 100%
		margin: 88px 0 0 0
	&__fix-cont

	&__title
		font-weight: bold
		font-size: 22px
		line-height: 100%
		color: var(--orange)

	&__guides
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 18px
	&__header-card

	&__plain-card

	& .header-card
		width: 100%
		border: 1px solid var(--black10)
		padding-bottom: 10px
		margin-bottom: 48px
		display: flex
		flex-direction: column
		justify-content: flex-start
		@media(min-width:$md)
			width: 340px
		@media(min-width:$xl)
			width: 555px
		&__title
			background-color: var(--blue50)
			font-weight: bold
			font-size: 20px
			line-height: 48px
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			padding: 0 15px
			@media(min-width:$md)
				font-size: 25px
			@media(min-width:$xl)
				font-size: 36px
		&__article
			overflow: hidden
			text-overflow: ellipsis
			display: -webkit-box
			-webkit-box-orient: vertical
			-webkit-line-clamp: 3
			line-height: 27px
			max-height: 81px
			padding: 0 15px
			margin-top: 23px
		&__link

.plain-card
	width: 100%
	margin-bottom: 48px
	border: 1px solid var(--black10)
	padding-bottom: 10px
	display: flex
	flex-direction: column
	justify-content: flex-start
	@media(min-width:$md)
		width: 340px
	@media(min-width:$xl)
		width: 263px
		margin-right: auto
		margin-left: auto
	&__title
		background-color: var(--orange)
		font-weight: bold
		font-size: 18px
		line-height: 24px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding: 8px 15px
	&__article
		overflow: hidden
		text-overflow: ellipsis
		display: -webkit-box
		-webkit-box-orient: vertical
		-webkit-line-clamp: 4
		line-height: 27px
		max-height: 108px
		padding: 0 15px
		margin-top: 8px
.header-card__link,
.plain-card__link
	font-size: 18px
	line-height: 150%
	text-align: right
	padding: 0 15px
	margin-top: auto
